header {
	background: #fff;
	height: 4.5em;
	border-bottom: .3em solid gray;
	position: relative;
	display: inline-block;
	margin: auto;
	text-align: center;
}
header .logo{
	margin: 0 0 0 1em;
	position: absolute;
	display: inline-block;
	left: 0;
}
header .logo img{
	height: 4.5em;
}
header .titular{
	display: inline-block;
	position: relative;
}
header .titular .titulo{
	margin: .5em;
}
header .info{
	display: inline-block;
	position: absolute;
	margin-right: 1em;
	right: 0;
	vertical-align: center;
}
header .avatar{
	display: inline-block;
	margin:0.5em;
	border-radius:30%;
	width:50px
}
header .usuario{
	display: inline-block;
	text-align: center;
    vertical-align: top;
    margin-top: 1.2em;
}
header .usuario .nombre{
	display: block;
	color:#000;
	text-decoration:none;
	font-weight: bold;
	font-style: italic;
}
header .usuario .cerrarSesion{
	display: block;
	color:#a4a4a4;
	right:0;
	text-decoration:none;
	font-size: 10px;
}

/* Menu de navegacion*/
nav{
	background:#8e8e8e;
	position:relative;
	text-align: center;

}
nav :before{
	content:"";
	left:0;
	position:absolute;
	top:0
}
nav .menu{
	height:40px;
	line-height:40px;
	margin:0;
	overflow-x:auto;
	padding:0;
	white-space:nowrap;

}
nav .menu li{
	display:inline-block;

}
nav .menu li a{
	color:#fff;
	display:block;
	margin:0 .5em;
	padding:0 .2em;
	text-decoration:none
}
nav .menu li a:hover{
	background:rgba(0,0,0,0.1)
}
nav .menu::-webkit-scrollbar{
	display:none
}
nav .menu .ul_submenu {
	width:7em;
	line-height:1.8em;
	position:absolute;
	z-index:998;
	background-color:#8e8e8e;
	padding:0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
nav .menu .ul_submenu li {
	padding: 0.2em 0 0.2em 0;
	display:none;
}

nav .menu .li_submenu:hover .ul_submenu {
	z-index:998;
}
nav .menu .li_submenu:hover .ul_submenu li {
	display:block;
}

nav .menu .li_submenu:hover .ul_submenu li a:hover{
	display:block;
	background-color: rgba(0, 0, 0, 0.2);
}

body #contenido{
	position: relative;
	text-align: center;
	margin: 2em 2em 0 2em;
}

#contenido form{
	margin-left: 10%;
	margin-right: 10%
}

.input{
	background: white;
    display: inline-block;
    border-radius: 2em;
    border: 1px solid #8e8e8e;
    padding: .5em;
    margin: 0 1em 1em 0;
}
.categorias{
	display: block;
	margin-bottom: .5em;
}

/*Consulta 1*/
.lista{ 
 margin: auto;
 padding-left: 0.5em;
 text-align: left;
 width: 18em;         
}

.sugerencias:hover{
 background-color:#D3D3D3;
 cursor:default; 
}

.inputBusc{
	background: white;
    display: inline-block;
    border-radius: 2em;
    border: 1px solid #8e8e8e;
    padding: .5em;
}



@media screen and (max-width:320px){
	header .titular{
		display: none;
	}
	header .avatar{
		display: none;
	}
	nav .menu .ul_submenu {
		left: 0;
	}
}
@media screen and (max-width:480px){
	header .titular{
		display: none;
	}
	header .avatar{
		display: none;
	}
}
@media screen and (max-width:480px){
	header .titular{
		display: none;
	}
}

